* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main-container {
    display: flex;

    align-items: center;
    width: 100%;
    height: 100vh;
}

p, a{
    font-size: 0.8rem;
}